@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root {
	background-color: #ffffff;
}

.Navbar {
	padding: 10px 50px;
	background-color: #202020;
	color: #ffffff;
	letter-spacing: normal;
}

.nav-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.logo {
	margin-right: auto;
	color: #ffffff;
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
}

.logo:hover {
	color: rgb(110, 218, 102);
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	column-gap: 40px;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}

.nav-list__link {
	color: #ffffff;
	transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
	color: rgb(110, 218, 102);
}

.nav-list__link--active {
	position: relative;
}

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul,
ul li {
	list-style: none;
}

.icon {
	width: 25px;
	padding: 10px 0px;
}

.menu-icon {
	display: none;
}

.nav-list ul.active::after {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #aa9696;
}

@media all and (max-width: 700px) {
	.logo {
		font-size: 21px;
	}
}

@media (max-width: 600px) {
	.logo {
		font-size: 20px;
		font-weight: 300;
	}

	.nav-list {
		font-size: 18px;
	}

	.menu-icon {
		display: block;
		cursor: pointer;
	}

	.nav-elements {
		position: absolute;
		right: 0;
		top: 40px;
		background-color: #202020;
		width: 0px;
		transition: all 0.3s ease-in;
		overflow: hidden;
		z-index: 300;
	}

	.nav-elements.active {
		width: 160px;
		border-radius: 0px 0px 0px 10px;
	}

	.nav-elements ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
	}

	.nav-elements ul li {
		margin: 15px 0px;
		align-self: center;
	}
}

@media all and (max-width: 400px)  {
	.Navbar {
		padding: 10px 30px;
	}
}